/* Default */

.avatar {
  @apply .inline-flex .justify-center .items-center .overflow-hidden .shadow-inner;
  @apply .w-4 .h-4 .rounded-round .bg-grey-100;
  @apply .cursor-default .select-none;
  @apply .uppercase .text-grey-600 .text-6;
}

@responsive {
  .avatar-xs {
    @apply .w-2 .h-2 .text-2;
  }
  .avatar-sm {
    @apply .w-3 .h-3 .text-4;
  }
  .avatar-base {
    @apply .w-4 .h-4 .text-6;
  }
  .avatar-lg {
    @apply .w-5 .h-5 .text-7;
  }
  .avatar-xl {
    @apply .w-6  .h-6 .text-7;
  }
  .avatar-2xl {
    @apply .w-8 .h-8 .text-8;
  }
}

.avatar-grouped {
  margin-left: -4px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05), 0 0 0 2px white;
}
