/* Default styles */

.Badge {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 9999px;
  letter-spacing: .042em;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;
  cursor: default;
  @apply .bg-grey-3 .text-1 .h-2 .px-1 .text-grey-7;
}

/* Sizes */

.Badge.size1 {
  @apply .h-2 .text-1 .px-1;
}

.Badge.size2 {
  @apply .h-3 .text-2 .px-2;
}

/* Responsive sizes */

@media only screen and (min-width: config('screens.sm')) {
  .Badge.sm-size1 {
    @apply .text-1 .h-4 .px-1;
  }

  .Badge.sm-size2 {
    @apply .h-6 .text-2 .px-2;
  }
}

@media only screen and (min-width: config('screens.md')) {
  .Badge.md-size1 {
    @apply .text-1 .h-4 .px-1;
  }

  .Badge.md-size2 {
    @apply .h-6 .text-2 .px-2;
  }
}

@media only screen and (min-width: config('screens.lg')) {
  .Badge.lg-size1 {
    @apply .text-1 .h-4 .px-1;
  }

  .Badge.lg-size2 {
    @apply .h-6 .text-2 .px-2;
  }
}

@media only screen and (min-width: config('screens.xl')) {
  .Badge.xl-size1 {
    @apply .text-1 .h-4 .px-1;
  }

  .Badge.xl-size2 {
    @apply .h-6 .text-2 .px-2;
  }
}

/* Colors */

.Badge.blue {
  @apply .bg-blue-3 .text-blue-8;
}

.Badge.red {
  @apply .bg-red-3 .text-red-8;
}

.Badge.green {
  @apply .bg-green-3 .text-green-8;
}

.Badge.yellow {
  @apply .bg-yellow-3 .text-yellow-8;
}
