.BubbleTab {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .025em;
    text-align: center;
    transition: all 100ms ease;
    white-space: nowrap;
    border-radius: config('borderRadius.2') config('borderRadius.2') 0 0;
    @apply .h-4 .text-2 .text-grey-6 .pl-2 .pr-2;
}
.BubbleTab:hover,
.BubbleTab:active {
    @apply .text-blue-5;
}
.BubbleTab:focus {
    outline: 1px dashed config('colors.blue');
    @apply .text-blue-5;
}

/* Sizes */

.BubbleTab.size1 {
    @apply .h-4 .text-2 .pl-2 .pr-2;
}

.BubbleTab.size2 {
    @apply .h-6 .text-3 .pl-2 .pr-2;
}

/* Colors */

.BubbleTab.blue {
    @apply .text-blue-5;
}
