.BubbleTab {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .025em;
    text-align: center;
    transition: all 100ms ease;
    white-space: nowrap;
    border-radius: config('borderRadius.2') config('borderRadius.2') 0 0;
    color: rgba(255,255,255,.7);
    @apply .h-10 .text-2 .pl-2 .pr-2;
}
.BubbleTab:hover,
.BubbleTab:active {
    color: white;
}
.BubbleTab:focus {
    outline: 1px dashed config('colors.white');
    color: white;
}

/* Active state*/

.BubbleTab.is-active {
    background-color: white;
    color: inherit;
    cursor: default;
    outline: none;
}
