/* Button Base */

.btn {
  @apply .relative .inline-flex .items-center .justify-center .align-middle .text-center .z-0;
  @apply .h-4 .px-2;
  @apply .appearance-none .bg-blue-5 .border-none .shadow-sm .rounded;
  @apply .cursor-pointer .pointer-events-auto;
  @apply .text-3 .text-white .font-thin .font-narrow .tracking-wide .no-underline .uppercase .select-none .whitespace-no-wrap;
  
  outline: none;

  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

/* Responsive Buttons */

@responsive {
  .btn-sm {
    @apply .h-3 .text-3 .px-2;
  }

  .btn-lg {
    @apply .h-5 .text-5 .px-3;
  }
}

/* Color */

.btn-white {
  @apply .bg-white .text-white;
}

.btn-green {
  @apply .bg-green-5 .text-white;
}

.btn-red {
  @apply .bg-red-5 .text-white;
}
