/* Default */

.Divider {
    height: 2px;
    @apply .w-5 .bg-grey-300;
}

/* Sizes */

.Divider.size1 {
    @apply .w-5;
}

.Divider.size2 {
    @apply .w-7;
}

/* Variations */

.Divider.vertical {
    @apply .w-px .h-2;
}
