/* Default */

.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    @apply .bg-blue-5 .z-5;
}

/* Variations */

.Header.sticky {
    position: fixed;
}
