.IconButton {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  outline: none;
  text-decoration: none;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  user-select: none;
  vertical-align: middle;
  @apply .text-grey-600 .h-4 .w-4;
}

.IconButton:hover {
  @apply .text-black;
}
.IconButton.is-active {
  opacity: .5;
}
.IconButton:active {
  opacity: .25;
}

/* Sizes */

.IconButton.size1 {
  @apply .h-2 .w-2;
}

.IconButton.size2 {
  @apply .h-3 .w-3;
}

.IconButton.size3 {
  @apply .h-4 .w-4;
}

/* Colors */

.IconButton.blue:hover {
  @apply .text-blue-500;
}

.IconButton.green:hover {
  @apply .text-green-500;
}

.IconButton.yellow:hover {
  @apply .text-yellow-500;
}

.IconButton.red:hover {
  @apply .text-red-500;
}

/* Disabled state */

.IconButton.is-disabled {
  opacity: .25;
  cursor: not-allowed;
}
