/* Default */

.Input {
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 1px config('colors.grey-500');
    width: 100%;
    transition-property: box-shadow, background-color;
    transition-duration: 100ms;
    transition-timing-function: linear;
    font-family: inherit;
    color: inherit;
    line-height: config('height.4');
    @apply .h-4 .pl-1 .bg-white .text-3 .rounded-2;
}

/* Focus state */

.Input:focus {
    box-shadow: inset 0 0 0 1px config('colors.blue-500');
}

/* Placeholder */

.Input::-webkit-input-placeholder {
   color: config('colors.grey-500');
   opacity:  1;
}
.Input::-moz-placeholder {
   color: config('colors.grey-500');
   opacity:  1;
}
.Input:-ms-input-placeholder {
   color: config('colors.grey-500');
   opacity:  1;
}

/* Sizes */

.Input.size1 {
    @apply .h-3 .pl-1;
}

.Input.size2 {
    @apply .h-4 .pl-1;
}

.Input.size3 {
    @apply .h-5 .pl-2;
}

/* Variations */

.Input.transparent {
   background-color: rgba(255,255,255,.2);
   box-shadow: none;
   @apply .text-white;
}

.Input.transparent:focus {
   background-color: rgba(255,255,255,.3);
}

.Input.transparent::-webkit-input-placeholder {
   color: rgba(255,255,255,.65);
}
.Input.transparent::-moz-placeholder {
   color: rgba(255,255,255,.65);
}
.Input.transparent:-ms-input-placeholder {
   color: rgba(255,255,255,.65);
}

/* Validation */

.Input.is-valid {
    box-shadow: inset 0 0 0 1px config('colors.green-500');
}

.Input.is-invalid {
    box-shadow: inset 0 0 0 1px config('colors.red-500');
}
