/* Default styles */

.Link {
    align-items: center;
    display: inline-flex;
    color: inherit;
    text-decoration: underline;
    transition-property: color;
    transition-duration: 100ms;
    transition-timing-function: linear;
}
.Link:focus {
    outline: 1px dashed config('colors.blue-500');
    outline-offset: 1px;
}

/* Modifiers */

.Link.blue {
    text-decoration: none;
    @apply .text-blue-500;
}
.Link.blue:hover {
    @apply .text-blue-600;
}

.Link.red {
    text-decoration: none;
    @apply .text-red-500;
}
.Link.red:hover {
    @apply .text-red-600;
}

.Link.green {
    text-decoration: none;
    @apply .text-green-500;
}
.Link.green:hover {
    @apply .text-green-600;
}
