.Progress {
    width: 100%;
    min-width: 48px;
    overflow: hidden;
    @apply .bg-grey-300 .h-1 .rounded-pill;
}

.Progress > div {
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: ease;
    height: 100%;
    @apply .bg-grey-500;
}

/* Sizes */

.Progress.size1 {
    @apply .h-1;
}

.Progress.size2 {
    @apply .h-2;
}

/* Colors */

.Progress.red > div {
    background-image:
       linear-gradient(
           to right,
           config('colors.red-600'),
           config('colors.red-500')
        );
    background-size: 100% 100%;
}

.Progress.yellow > div {
    background-image:
       linear-gradient(
           to right,
           config('colors.yellow-600'),
           config('colors.yellow-500')
        );
    background-size: 100% 100%;
}

.Progress.green > div {
    background-image:
       linear-gradient(
           to right,
           config('colors.green-600'),
           config('colors.green-500')
        );
    background-size: 100% 100%;
}
