/* Default */

.Select {
    width: 100%;
    @apply .h-4 .bg-grey-3 .text-3;
}

.Select:focus {
    outline-width: 1px;
    outline-style: dashed;
    outline-color: config('colors.blue-5');
    outline-offset: 2px;
}

/* Sizes */

.Select.size1 {
    @apply .h-3;
}

.Select.size2 {
    @apply .h-4;
}

.Select.size3 {
    @apply .h-5;
}
