/* Default styles */

.Switch {
    position: relative;
    display: inline-block;
    @apply .w-4 h-1;
}

.Switch input {
    display: none;
}

.Switch div {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 100ms;
    border-radius: 9999px;
    @apply .bg-grey-500;
}

.Switch div:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    transition: all 100ms ease;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
    @apply .w-2 .h-2 .bg-grey-600;
}

.Switch input:checked + div {
    @apply .bg-blue-400;
}

.Switch input:checked + div:before {
    transform: translateX(config('width.2'));
    @apply .bg-blue-500;
}

/* Disabled */

.Switch.is-disabled {
    pointer-events: none;
}

.Switch.is-disabled div,
.Switch.is-disabled input:checked + div {
    @apply .bg-grey-300;
}

.Switch.is-disabled div:before,
.Switch.is-disabled input:checked + div:before {
    @apply .bg-grey-500;
    box-shadow: none;
}
