/* Default styles */

.Switch {
    position: relative;
    display: inline-block;
    @apply .w-8 h-2;
}

.Switch input {
    display: none;
}

.Switch div {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 100ms;
    border-radius: 9999px;
    @apply .bg-grey;
}

.Switch div:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    transition: all 100ms ease;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
    @apply .w-4 .h-4 .bg-grey-dark;
}

.Switch input:checked + div {
    @apply .bg-blue-light;
}

.Switch input:checked + div:before {
    transform: translateX(config('width.4'));
    @apply .bg-blue;
}

/* Disabled */

.Switch.is-disabled {
    pointer-events: none;
}

.Switch.is-disabled div,
.Switch.is-disabled input:checked + div {
    @apply .bg-grey-light;
}

.Switch.is-disabled div:before,
.Switch.is-disabled input:checked + div:before {
    @apply .bg-grey;
    box-shadow: none;
}
