/* Tailwind base */

@import "preflight.css";

/* Static components */

@import "components/Badge.css";
@import "components/Button.css";
@import "components/Section.css";
@import "components/Container.css";
@import "components/Switch.css";
@import "components/Header.css";
@import "components/Divider.css";
@import "components/Card.css";
@import "components/Heading.css";
@import "components/Text.css";
@import "components/Title.css";
@import "components/Avatar.css";
@import "components/Progress.css";
@import "components/Checkbox.css";
@import "components/Radio.css";
@import "components/Input.css";
@import "components/Select.css";
@import "components/Table.css";
@import "components/Tab.css";
@import "components/BubbleTab.css";
@import "components/Link.css";
/* @import "components/Grid.css"; */
/* @import "components/ListItem.css"; */

/* Interactive components */

/* @import "components/MegaMenu.css"; */
/* @import "components/Dropdown.css"; */
@import "components/Overlay.css";

/* Tailwind utilities */

@import "utilities.css";
